:root {
    --color-body: #FFFFFF;
    --color-text-main: #4A4A4A;
    --color-text-main2: #FFFFFF;
    --color-text-decor: rgba(255, 101, 195, 0.31);
    --color-text-placeholder: rgba(74, 74, 74, 0.6);
    --color-bg-main: #FF65C3;
    --color-bg-main-light: #FFB8D3;
    --color-bg-main2: #5D17EB;
    --color-bg-light: rgba(93, 23, 235, 0.5);
    --color-bg-footer: #AE8BF5;
    --color-text-error: rgba(245, 63, 54, 1);
}