html {
    box-sizing: border-box;
    max-width: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

body {
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--color-text-main);

    background-color: var(--color-body);
    margin: 0;
    padding: 0;
    -webkit-text-size-adjust: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    cursor: pointer;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

p {
    margin: 0;
}

button {
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 0;
}

img {
    max-width: 100%;
}

.Container {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

@media (min-width: 1646px) {
    .Container {
        max-width: 1646px;
        padding: 0 15px;
    }
}

.Btn {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--color-text-main2);
    border-radius: 40px;
}

.Btn--pink {
    background-color: var(--color-bg-main);
}

.Btn--blue {
    background-color: var(--color-bg-main2);
}

.Btn--centered {
    /*display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;*/
    text-align: center;
    display: block;
    margin: 0 auto;
}

.Decor {
    display: none;
    font-size: 120px;
    line-height: 1.20;
    text-transform: uppercase;
    color: var(--color-text-decor);
    transform: rotateZ(-90deg);
    position: absolute;
    z-index: 100;
    right: -495px;
}