/*  Header  */
.Header {
    padding: 145px 0 0;
}

.Header-Inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Header-Content {
    width: 100%;
}

.Header-Title {
    width: 300px;
    margin-bottom: 33px;
}

.Header-List {
    margin-bottom: 70px;
}

.Header-Item {
    margin-bottom: 31px;
    padding: 0 0 0 30px;
    position: relative;
}

.Header-Item:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    top: 10px;
    left: 0;
    /*transform: translate(0, -50%);*/
    background: var(--color-bg-light);
    border-radius: 2px;
}

.Header-Item:last-child {
    margin-bottom: 0;
}

.Header-Btn {
    margin-bottom: 70px;
    padding: 16px 22px 18px;
}



/*  Steps  */
.Steps {
    padding: 100px 0 103px;
}

.Steps-Title {
    margin-bottom: 80px;
}

.Steps-List {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px 40px;
    justify-content: center;
    margin-bottom: 155px;
    position: relative;
}

.Steps-ImgBg {
    display: none;
}

.Animation {
    stroke-dasharray:10 20;
    stroke-dashoffset:600px;
    animation: animdash 5s forwards infinite;
}
@keyframes animdash {
    0% {
        stroke-dashoffset: 600px;
    }
    50% {
        stroke-dashoffset: 200px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.Steps-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Steps-Img {
    margin-bottom: 10px;
}

.Steps-Btn {
    padding: 24px 96px;
}


/*  About  */
.About {
    padding: 100px 0 107px;
}

.About-Title {
    margin-bottom: 60px;
}

.About-Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About-Content {
    margin-bottom: 60px;
}

.About-Text {
    margin-bottom: 65px;
}

.About-Btn {
    padding: 23px 21px 26px;
    text-align: center;
}


/*  Person  */
.Person {
    padding: 100px 0 98px;
}

.Person-Title {
    margin-bottom: 30px;
}

.Person-Table {
    margin: 0 auto 103px;
}

.Person-Row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
    padding: 20px 10px;
    border: 3px solid var(--color-bg-main2);
    border-radius: 10px;
}

.Person-Row:last-child {
    margin-bottom: 0;
}

.Person-RowTitle {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.Person-RowText {
    text-align: center;
    font-size: 24px;
}

.Person-Btn {
    padding: 25px 61px 24px;
}


/*  Description  */
.Description {
    padding: 102px 0 101px;
}

.Description-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.Description-Item {
    width: 451px;
    margin: 0 9.4px 10px;
    padding: 20px 13px 30px;
    background-color: var(--color-bg-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-text-main2);
}

.Description-Item:last-child {
    margin-bottom: 0;
}

.Description-ItemImg {
    margin-bottom: 20px;
}

.Description-ItemTitle {
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.Description-Btn {
    padding: 24px 22px 25px;
}


/*  History  */
.History {
    padding: 70px 0;
}

.History-Title {
    margin-bottom: 70px;
}

.History-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.History-SliderBox {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}

.History-TextBox {
    width: 100%;
}









