/*  Header  */
.Header {
    padding: 145px 0 0;
}

.Header-Inner {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Header-Content {
    width: 100%;
}

.Header-Title {
    width: 300px;
    margin-bottom: 33px;
}

.Header-List {
    margin-bottom: 70px;
}

.Header-Item {
    margin-bottom: 31px;
    padding: 0 0 0 30px;
    position: relative;
}

.Header-Item:before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    top: 10px;
    left: 0;
    /*transform: translate(0, -50%);*/
    background: var(--color-bg-light);
    border-radius: 2px;
}

.Header-Item:last-child {
    margin-bottom: 0;
}

.Header-Btn {
    margin-bottom: 70px;
    padding: 16px 22px 18px;
}


/*  Steps  */
.Steps {
    padding: 100px 0 103px;
}

.Steps-Title {
    margin-bottom: 80px;
}

.Steps-List {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 60px 40px;
    justify-content: center;
    margin-bottom: 155px;
    position: relative;
}

.Steps-ImgBg {
    display: none;
}

.Animation {
    stroke-dasharray: 10 20;
    stroke-dashoffset: 600px;
    animation: animdash 5s forwards infinite;
}

@keyframes animdash {
    0% {
        stroke-dashoffset: 600px;
    }
    50% {
        stroke-dashoffset: 200px;
    }

    100% {
        stroke-dashoffset: 0;
    }
}

.Steps-Item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Steps-Img {
    margin-bottom: 10px;
}

.Steps-Btn {
    padding: 24px 96px;
}


/*  About  */
.About {
    padding: 100px 0 107px;
}

.About-Title {
    margin-bottom: 60px;
}

.About-Inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.About-Content {
    margin-bottom: 60px;
}

.About-Text {
    margin-bottom: 65px;
}

.About-Btn {
    padding: 23px 21px 26px;
    text-align: center;
}


/*  Person  */
.Person {
    padding: 100px 0 98px;
}

.Person-Title {
    margin-bottom: 30px;
}

.Person-Table {
    margin: 0 auto 103px;
}

.Person-Row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 44px;
    padding: 20px 10px;
    border: 3px solid var(--color-bg-main2);
    border-radius: 10px;
}

.Person-Row:last-child {
    margin-bottom: 0;
}

.Person-RowTitle {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
}

.Person-RowText {
    text-align: center;
    font-size: 24px;
}

.Person-Btn {
    padding: 25px 61px 24px;
}


/*  Description  */
.Description {
    padding: 102px 0 101px;
}

.Description-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.Description-Item {
    width: 451px;
    margin: 0 9.4px 10px;
    padding: 20px 13px 30px;
    background-color: var(--color-bg-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--color-text-main2);
}

.Description-Item:last-child {
    margin-bottom: 0;
}

.Description-ItemImg {
    margin-bottom: 20px;
}

.Description-ItemTitle {
    margin-bottom: 50px;
    font-weight: 700;
    text-transform: uppercase;
}

.Description-Btn {
    padding: 24px 22px 25px;
}


/*  History  */
.History {
    padding: 70px 0;
}

.History-Title {
    margin-bottom: 70px;
}

.History-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.History-SliderBox {
    position: relative;
    width: 100%;
    margin-bottom: 70px;
}

.History-TextBox {
    width: 100%;
}


/*  Reviews  */
.Reviews {
    padding: 70px 0;
}

.Reviews-Title {
    margin-bottom: 70px;
}

.Reviews-SliderBox {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.Reviews-Slider {
    width: 85%;
    margin: 0 auto;
}

.Reviews-SliderItem {
    padding: 30px 15px 40px;
    background-color: var(--color-bg-main-light);
    border-radius: 10px;
}

.Reviews-SliderItemImg {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    top: -60px;
    left: -46px;
    border-radius: 50%;
}

.Reviews-SliderItemTop {
    margin-bottom: 38px;
}

.Reviews-SliderItemName {
    margin-bottom: 9px;
    font-weight: 700;
    font-size: 20px;
}

.Reviews-SliderItemSub {
    font-size: 25px;
    color: var(--color-text-main2);
}

.Reviews-SliderItemText {
    font-size: 20px;
    color: var(--color-bg-main2);
}

.Reviews-SliderBtn {
    width: 25px;
}


/*  NavFooter  */
.NavFooter {
    padding: 70px 0;
    background-color: var(--color-bg-footer);
}

.NavFooter-Container {
    max-width: 615px;
    width: 100%;
    margin: 0 auto;
}

.NavFooter-List {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-text-main2);
    text-transform: uppercase;
}

.NavFooter-Item {
    margin-bottom: 30px;
}

.NavFooter-Item:last-child {
    margin-bottom: 0;
}

/*  Contacts  */
.Contacts {
    padding: 70px 0;
}

.Contacts-Content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Contacts-Contacts {
    margin-bottom: 40px;
}

.Contacts-Title {
    margin-bottom: 109px;
}

.Contacts-ContactsTitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 28px;
    text-transform: uppercase;
    color: var(--color-bg-main);
}

.Contact {
    font-size: 24px;
}

.Contacts-Map {
    max-width: 290px;
    width: 100%;
    height: 290px;
}


/*  Questions  */
.Questions {
    padding: 249px 0 98px;
}

.Questions-Title {
    margin-bottom: 82px;
}

.Questions-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.Questions-Item {
    width: 100%;
    margin-bottom: 40px;
    padding: 16px 14px 16px 9px;
    border: 3px solid var(--color-bg-main2);
    border-radius: 10px;
}

.Questions-ItemQuestion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.Questions-ItemQuestionBox {
    display: flex;
    align-items: flex-start;
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
}

.Questions-ItemIcon {
    margin-right: 10px;
    width: 38px;
}

.Questions-ItemArrow {
    width: 22px;
    transition: .3s all;
}

.Questions-ItemQuestion--active {
    margin-bottom: 33px;
}

.Questions-ItemQuestion--active .Questions-ItemArrow {
    transform: rotateZ(-90deg);
}

.Questions-ItemAnswer {
    max-height: 0;
    overflow-y: hidden;
    transition: max-height .1s;
    font-size: 22px;
    line-height: 1.2;
}

.Questions-Form {
    max-width: 809px;
    width: 100%;
    margin: 0 auto;
}

.Questions-FormTitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    font-weight: 600;
    font-size: 25px;
    line-height: 1.10;
    color: var(--color-bg-main2);
}

.Questions-FormInputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin-bottom: 55px;
}

.Questions-FormInput {
    max-width: 100%;
    width: 100%;
    margin-bottom: 35px;
    padding: 31px 33px;
    font-size: 25px;
}

.Questions-FormInput:last-child {
    margin-bottom: 0;
}

.Questions-FormInput::placeholder {
    font-size: 25px;
    color: var(--color-text-placeholder);
}

.Questions-FormBtn {
    position: relative;
    display: block;
    margin: 0 auto;
    font-size: 28px;
    color: var(--color-bg-main2);
}

.Questions-FormBtn:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--color-bg-main2);
    bottom: 0;
    left: 0;
    transition: .3s;
}

.Questions-FormBtn:hover:before {
    background-color: var(--color-bg-main);
}


/*  Registration  */
.Registration {
    padding: 249px 0 101px;
}

.Registration-Title {
    margin-bottom: 100px;
}

.Registration-Form {
    max-width: 825px;
    width: 100%;
    margin: 0 auto;
}

.Registration-FormTop {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.Registration-FormTitle {
    margin-bottom: 60px;
    font-weight: 600;
    font-size: 40px;
    line-height: 1.2;
}

.Registration-FormInputs {
    display: flex;
    align-items: center;
}

.Registration-FormInputs .Registration-FormInput {
    width: 255px;
    margin-right: 73px;
}

.Registration-FormInput {
    width: 255px;
    padding: 15px 20px 17px 50px;
   /* margin-right: 73px;*/
}

.Registration-FormInputs {
    margin-bottom: 40px;
}

.Registration-FormInputs .Registration-FormInput:last-child {
    width: 495px;
    margin-right: 0;
}

.Input {
    font-size: 35px;
    line-height: 1.2;
    color: var(--color-text-main);
}

.Input::placeholder {
    font-size: 35px;
    line-height: 1.2;
    color: var(--color-text-placeholder);
}

.Registration-FormTextarea {
    padding: 15px 20px 17px 50px;
    resize: none;
    height: 207px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
    color: var(--color-text-main);
    border-radius: 10px;
}
.Registration-FormTextarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
    color: var(--color-text-placeholder);
}

.Input--post {
    width: 100%;
}

.FileInput {
    position: absolute;
    z-index: -1;
    opacity: 0;
    overflow: hidden;
    clip: rect(0 0 0 0);
}

.Registration-FormLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 40px;
    padding: 15px 20px 17px 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.2;
    color: var(--color-text-placeholder);
    border-radius: 10px;
}

.Registration-FormLabelImg {
    width: 25px;
}

.dropdown {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: relative;
    font-family: Helvetica;
    font-weight: 300;
}

.dropdown__value {
    color: #fff;
    background: gray;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 6px;
}

.dropdown__value:after {
    content: '\21E9';
    margin-left: 5px;
}

.dropdown__list {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    border: 1px solid gray;
    border-bottom: none;
    border-radius: 4px;
}

.dropdown__link {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    border-radius: 4px;
}

.dropdown__list_active {
    display: block;
}

.Registration-FormBottom {
    margin-bottom: 95px;
}

.Registration-FormBtn {
    padding: 25px 114px;
    font-weight: 400;
    font-size: 35px;
}

.Registration-Text {
    margin-top: 40px;
    text-align: center;
}





