@media (min-width: 460px) {

}

@media (min-width: 590px) {
    .Btn {
        font-size: 26px;
    }

    .Header {
        padding: 250px 0 0;
    }

    .Header-Title {
        width: 100%;
    }

    .Header-Btn {
        padding: 16px 62px 18px;
    }

    .About-Btn {
        padding: 23px 61px 26px;
    }
    .Person-Btn {
        padding: 25px 105px 24px;
    }

}

@media (min-width: 768px) {
    .Title--h1 {
        font-size: 61px;
    }

    .Title--h2 {
        font-size: 60px;
    }

    .Btn {
        font-size: 33px;
    }

    .Text {
        font-size: 35px;
    }

    .Header-Item {
        font-size: 35px;
    }

    .Steps-Text {
        font-size: 35px;
        white-space: nowrap;
    }

    .Person-RowText {
        width: 800px;
        font-size: 33px;
    }

}

@media (min-width: 960px) {
    .Nav-Content {
        justify-content: flex-start;
    }
    .Nav-List {
        display: flex;
    }
    .Nav-Item {
        margin-right: 50px;
        margin-bottom: 0;
    }
    .Nav-Btn {
        display: none;
    }
    .Nav-ContentMobile {
        display: none;
    }

    .Steps-List {
        display: grid;
        grid-template-columns: repeat(2, 370px);
        grid-gap: 60px 40px;
    }
}

@media (min-width: 1248px) {
    .Header {
        padding: 130px 0 0;
    }

    .Header-Content {
        width: 735px;
    }

    .Header-Inner {
        flex-direction: row;
    }

    .Header-Btn {
        margin-bottom: 0;
    }

    .Steps-ImgBg {
        display: block;
        position: absolute;
        z-index: -1;
        top: 15px;
        left: -535px;
    }
    .Steps-List {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 155px;
        position: relative;
    }

    .About-Title {
        margin-bottom: 18px;
    }
    .About-Inner {
        flex-direction: row;
    }
    .About-Content {
        width: 690px;
        margin-right: 201px;
        margin-bottom: 0;
    }

    .Person-Title {
        margin-bottom: 119px;
    }
    .Person-Row {
        flex-direction: row;
        height: 162px;
    }
    .Person-RowTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 435px;
        margin-right: 60px;
        margin-bottom: 0;
        text-align: left;
        position: relative;
    }
    .Person-RowTitle:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 135px;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-color: var(--color-text-main);
    }
    .Person-RowText {
        text-align: left;
    }

}

@media (min-width: 1440px) {
    .Steps-ImgBg {
        left: -380px;
    }
    .Person-Table {
        width: 1367px;
        margin: 0 auto 103px;
    }
    .Person-RowTitle {
        margin-right: 89px;
    }
    .Person-RowText {
        width: 800px;
        font-size: 28px;
    }
}

@media (min-width: 1450px) {
    .Steps-ImgBg {
        left: -325px;
    }
}

@media (min-width: 1646px) {
    .Steps-List {
        justify-content: flex-start;
    }
    .Steps-ImgBg {
        top: 20px;
        left: -170px;
    }
    .Steps-Item {
        margin-right: 140px;
    }
}

@media (min-width: 1920px) {
    .Decor {
        display: block;
    }
}
