@media (min-width: 460px) {
    .Description-Btn {
        padding: 24px 34px 25px;
    }
}

@media (min-width: 590px) {
    .Btn {
        font-size: 26px;
    }

    .Header {
        padding: 250px 0 0;
    }

    .Header-Title {
        width: 100%;
    }

    .Header-Btn {
        padding: 16px 62px 18px;
    }

    .About-Btn {
        padding: 23px 61px 26px;
    }

    .Person-Btn {
        padding: 25px 105px 24px;
    }

    .Contacts-Map {
        max-width: 560px;
        height: 490px;
    }
}

@media (min-width: 768px) {
    .Title--h1 {
        font-size: 61px;
    }

    .Title--h2 {
        font-size: 60px;
    }

    .Btn {
        font-size: 33px;
    }

    .Text {
        font-size: 35px;
    }

    .Header-Item {
        font-size: 35px;
    }

    .Steps-Text {
        font-size: 35px;
        white-space: nowrap;
    }

    .Person-RowText {
        width: 800px;
        font-size: 33px;
    }

    .Contact {
        font-size: 35px;
    }
    .Contacts-ContactsTitle {
        font-size: 40px;
    }

}

@media (min-width: 960px) {
    .Nav-Content {
        justify-content: flex-start;
    }

    .Nav-List {
        display: flex;
    }

    .Nav-Item {
        margin-right: 50px;
        margin-bottom: 0;
    }

    .Nav-Btn {
        display: none;
    }

    .Nav-ContentMobile {
        display: none;
    }

    .Steps-List {
        display: grid;
        grid-template-columns: repeat(2, 370px);
    }

    .Reviews {
        padding: 130px 0 221px;
    }
    .Reviews-Title {
        margin-bottom: 130px;
    }
    .Reviews-SliderBox {
        width: 940px;
        margin: 0 auto;
        position: relative;
    }
    .Reviews-Slider {
        width: 840px;
    }
    .Reviews-SliderItem {
        padding: 30px 31px 40px;
        background-color: var(--color-bg-main-light);
        border-radius: 10px;
        position: relative;
    }
    .Reviews-SliderItemTop {
        padding-left: 108px;
        margin-bottom: 38px;
    }
    .Reviews-SliderItemImg {
        width: 180px;
        height: 180px;
        position: absolute;
        margin-bottom: 0;
    }
    .Reviews-SliderItemName {
        margin-bottom: 9px;
        font-weight: 700;
        font-size: 30px;
    }
    .Reviews-SliderItemSub {
        font-size: 40px;
        color: var(--color-text-main2);
    }
    .Reviews-SliderItemText {
        font-size: 30px;
        color: var(--color-bg-main2);
    }
    .Reviews-SliderBtn {
        width: 50px;
    }

    .Contacts-Map {
        max-width: 876px;
        height: 590px;
    }
}

@media (min-width: 970px) {
    .Description-Item {
        height: 679px;
        margin: 0 9.4px 14px;
    }
}

@media (min-width: 1010px) {
    .NavFooter {
        padding: 80px 0 92px;
    }
    .NavFooter-List {
        flex-direction: row;
        font-size: 30px;
    }
    .NavFooter-Item {
        position: relative;
        margin-bottom: 0;
    }
    .NavFooter-Item:after {
        position: absolute;
        content: '';
        width: 2px;
        height: 29px;
        top: 50%;
        right: -17px;
        transform: translate(0,-43%);
        background-color: var(--color-text-main2);
    }
    .NavFooter-Item:last-child:after {
        display: none;
    }
}

@media (min-width: 1248px) {
    .Header {
        padding: 130px 0 0;
    }

    .Header-Content {
        width: 735px;
    }

    .Header-Inner {
        flex-direction: row;
    }

    .Header-Btn {
        margin-bottom: 0;
    }

    .Steps-ImgBg {
        display: block;
        position: absolute;
        z-index: -1;
        top: 15px;
        left: -535px;
    }

    .Steps-List {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 155px;
        position: relative;
    }

    .About-Title {
        margin-bottom: 18px;
    }

    .About-Inner {
        flex-direction: row;
    }

    .About-Content {
        width: 690px;
        margin-right: 201px;
        margin-bottom: 0;
    }

    .Person-Title {
        margin-bottom: 119px;
    }

    .Person-Row {
        flex-direction: row;
        height: 162px;
    }

    .Person-RowTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 435px;
        margin-right: 60px;
        margin-bottom: 0;
        text-align: left;
        position: relative;
    }

    .Person-RowTitle:before {
        content: '';
        position: absolute;
        width: 3px;
        height: 135px;
        top: 50%;
        right: 0;
        transform: translate(0, -50%);
        background-color: var(--color-text-main);
    }

    .Person-RowText {
        text-align: left;
    }

    .History {
        padding: 100px 0 213px;
    }
    .History-Title {
        margin-bottom: 156px;
    }
    .History-Content {
        flex-direction: row;
    }
    .History-SliderBox {
        margin-right: 0;
        margin-bottom: 0;
    }
    .History-Slider {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 555px;
        width: 100%;
        height: 374px;
        margin: 0 auto;
    }

    .Contacts {
        padding: 249px 0 70px;
    }
    .Contacts-Content {
        flex-direction: row;
    }
    .Contacts-Contacts {
        margin-bottom: 0;
    }
}

@media (min-width: 1440px) {
    .Steps-ImgBg {
        left: -380px;
    }

    .Person-Table {
        width: 1367px;
        margin: 0 auto 103px;
    }

    .Person-RowTitle {
        margin-right: 89px;
    }

    .Person-RowText {
        width: 800px;
        font-size: 28px;
    }

    .Description-List {
        justify-content: space-around;
    }

    .Description-Item {
        margin-bottom: 0;
    }

    .Reviews-SliderBox {
        width: 1272px;
    }

    .Reviews-SliderItem {
        height: 458px;
        padding: 30px 91px 20px;
    }
    .Reviews-SliderItemTop {
        padding-left: 98px;
        margin-bottom: 38px;
    }
}

@media (min-width: 1450px) {
    .Steps-ImgBg {
        left: -325px;
    }

    .History-SliderBox {
        width: 700px;
    }

    .History-TextBox {
        width: 719px;
    }
}

@media (min-width: 1646px) {
    .Steps-List {
        justify-content: flex-start;
    }

    .Steps-ImgBg {
        top: 20px;
        left: -170px;
    }

    .Steps-Item {
        margin-right: 140px;
    }
}

@media (min-width: 1920px) {
    .Decor {
        display: block;
    }

    .Header-Decor {
        top: 280px;
    }

    .About-Decor {
        top: 480px;
    }

    .Steps-Decor {
        top: 320px;
    }

    .Person-Decor {
        top: 290px;
    }

    .Description-Decor {
        top: 50px;
    }

    .History-Decor {
        top: -90px;
    }
}
