.History-Slider {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 80%;
    margin: 0 auto;
}

/* Кнопки вперед и назад */
.History-SliderBtn {
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.History-SliderBtn--next {
    right: 0;
}

/* Анимация слайдов */
.History-SliderItem {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
