.Title {
    text-transform: uppercase;
    line-height: 1.20;
}

.Title--h1 {
    font-size: 41px;
    font-weight: 500;
}

.Title--h2 {
    font-size: 38px;
    font-weight: 600;
    text-align: center;
}